
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutInside.cshtml";
}


<h2 class="text-center">Dashboard</h2>
<hr />
<br />

<div class="row">

    <div class="col-md-6"><a href="@Url.Action("Index", "Funds")" class="btn btn-primary btn-lg btn-block margin-top-20">Funds Request </a> </div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn-block margin-top-20">Partner Due Deligence </a> </div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn btn-block margin-top-20">Deal nitoring </a> </div>
    <div class="col-md-6"><a href="#" class="btn btn-primary btn-lg btn btn-block margin-top-20">Fees, Comm. and Interest Payments </a> </div>

</div>

