@{
    ViewBag.Title = "Home Page";
}

    <div class="row " role="listbox">
      
            <img src="~/images/background.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <h2 class="text-primary">Welcome to 3NITY GlOBAL</h2>
                    <a class="btn btn-primary" href="@Url.Action("Register", "Account")">
                        Register
                    </a>
                </p>
            </div>
       
        
        
   
</div>